.body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}
.upperRow{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100vw;
    height: 10vh;
    background-color: antiquewhite;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100vw;
    height: 90vh;
}
.leftColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 12vw;
    height: 90vh;
    background-color: bisque;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 88vw;
    height: 90vh;
    background-color: white;
}
.staticsHW{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 20px;
}
.tableHW{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: max-content;
}
.tableItem{
    display: flex;
    flex-direction: row;
    
}
.rowHW{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    margin: 10px;
    width: 90%;
    height: max-content;
}
.columnHW{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 200px;
}
.maxCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 30);
    color: white;
}
:root{
    --bs-accordion-btn-bg:rgb(70, 70, 70) !important;
    --bs-body-bg:rgb(70, 70, 70) !important;
    --bs-body-color:white !important;
    --bs-border-color: rgb(41, 41, 41) !important;
    --bs-primary-bg-subtle: rgb(41, 41, 41) !important;
    --bs-primary-text-emphasis: none !important;
}

.main{
    background-color: rgb(20, 20, 30);
    padding: 20px 20px 0px 20px;
}
.smallDiv{
    width: 20%;
}
.bigDiv{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.row1{
    display: flex;
    flex-direction: row;
    margin: 0px, 0px, 15px, 0px;
}
.column1{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.column2{
    display: flex;
    flex-direction: column;
    height: 10px;
}
.inputType1{
    width: 1500px;
    background-color: rgb(70, 70, 70) !important;
}
::placeholder{
    color: white;
}
.smallBlocky{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: darkgrey;
}
.smallDarkBlocky{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: black;
}
.NormRectangle1{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 400px;
    color: rgb(118, 131, 146);
    background-color: rgb(42, 44, 56);
    padding: 25px;
}
.NormRectangle2{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 400px;
    color: rgb(118, 131, 146);
    background-color: rgb(42, 44, 56);
    padding: 25px;
}
.NormRectangle3{
    display: flex;
    flex-direction: row;
    width: 750px;
    color: rgb(118, 131, 146);
    background-color: rgb(42, 44, 56);
    padding: 25px;
}
.rowPer{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 6px;
    background-color: black;
}
.PerPink{
    width: 75%;
    height: 6px;
    background-color: purple;
}
.PerGrey{
    width: 25%;
    height: 6px;
}
.rowCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.noMargin{
    margin: 0px;
}
.Days{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 86, 236);
    color: rgb(105, 108, 255);
}
.specialRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.specialColumn{
    display: flex;
    width: 125px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
}
.specialInput{
    display: flex;
    width: 125px;
    background-color: gray;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.icon{
    display: flex;
    width: 24px;
    height: 24px;
    justify-self: center;
    color: rgb(118, 131, 146);
}
.showButton{
    display: flex;
    width: 125px;
    background-color: gray;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
}
.hideButton{
    display: none;
    width: 125px;
    background-color: gray;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
}
.showSave{
    display: flex;
    background-color: gray;
}
.hideSave{
    display: none;
    background-color: gray;
}
.columnCalls{
    display: flex;
    background-color: white;
    flex-direction: column;
    border-color: rgba(74, 74, 74, 0.51);
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    padding: 2.5px 8px 2.5px 8px;
}
.img1{
    display: flex;
    width: 58px;
    height: 64px;
    border-radius: 100px;
}
.img2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    transform: scale(2);
}
.columnStart{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
}
.grey{
    color: grey;
}
p{
    margin: 2px;
}
.bigPType{
    font-size: large;
    margin: 10px;
}
.inputSearch{
    color: black;
    font-size: large;
    display: flex;
    width: max(295px, 20vw);
    height: 40px;
    background-color: rgba(237, 237, 237, 1);
    border: none;
    border-color: none;
    border-radius: 10px;
}
.inputSearch::placeholder{
    color: black;
    font-size: large;
}
.rowMain{
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 223, 223);
    height: 100vh;
}
.columnOverflow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(295px, 20vw);
    height: 79vh;
    overflow-y: scroll;
}
.chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    border: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 1px;
    padding: 10px 15px 10px 15px;
    border-color: gray;
}

.imgHidden1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 58px;
    height: 64px;
    overflow: hidden;
    border-radius: 100px;
}
.imgHidden2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 81px;
    overflow: hidden;
    border-radius: 100px;
}
.columnFr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    width: 180px;
    align-items: start;
    height: 81px;
}
.columnTime{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: space-between;
    justify-content: space-around;
    width: 20px;
    align-items: center;
    height: 81px;
}
.redNotif{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: white;
    background-color: rgb(255, 80, 80);
    border: 0cm;
    border-radius: 100px;
}
.columnChat{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: rgba(74, 74, 74, 0.51);
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    padding: 2.5px 8px 2.5px 8px;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    width: 76vw;
}
.topChat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.iconsBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
.icon1{
    color: white;
    width: 34px;
    height: 34px;
}
.icon2{
    color: white;
    width: 42px;
    height: 25px;
}
.rowChat{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    margin: 10px;
}
.conversation{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 1000px;
    overflow-y: scroll;
}
.responseType1{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: rgb(227, 241, 253); */
    height: 50px;
    margin: 0px 0px 20px 0px;
    
}
.responseType2{
    display: flex;
    flex-direction: column;
    align-items: end;
    /* background-color: rgb(155, 255, 172); */
    height: 50px;
    margin: 0px 0px 20px 0px;
}
.answerType1{
    display: flex;
    width: 400px;
    overflow-wrap: normal;
    background-color: rgb(227, 241, 253);
    border-radius: 7px 7px 7px 0px;
}
.answerType2{
    display: flex;
    width: 400px;
    overflow-wrap: normal;
    justify-content: end;
    background-color: rgb(155, 255, 172);
    border-radius: 7px 7px 0px 7px;
}
.rowMessage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-color: rgba(74, 74, 74, 0.51);
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    padding: 0px 20px 0px 20px;
}
.inputType2{
    color: black;
    font-size: x-large;
    display: flex;
    width: max(300px, 50vw);
    height: 60px;
    background-color: white;
    border: none;
    border-color: none;
    border-radius: 10px;
}
.inputType2::placeholder{
    color: black;
    font-size: x-large;
}
.iconsBar2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.simpleRow1{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.simpleRow2{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.optionsShow{
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    width: max-content;
    height: max-content;
}
.optionButtonType1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 10px;
}
.optionsHide{
    display: none;
}
.followingDiv{
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}